
    h2{
    display: grid;
    /*                      c1 c2  c3  c4 */
    /* grid-template-columns: 25% 25% 25% 25%; */
    /*                      c1 c2  c3 */
    grid-template-columns: 33% 33% 33%;
    margin: 50px 20px;
    background-color: rgb(58, 117, 168);
    padding: 10px;
    font-family: sans-serif;
}

nav{
    width: 150px;
    float: left;
    margin-top: 12px;
    margin-right: 20px;
}

nav ul{
    list-style: none;
    margin: 12px 0 0 0;
    padding: 0;
}

nav li{
    border-bottom: 1px solid white;
    padding-top: 10px;
    
}

nav a{
    text-decoration: none;
    border: 1px solid rgb(168, 93, 93);
    background-color: rgb(168, 93, 93);
}